/* FONTS */

@font-face {
    font-family: 'TT Lakes';
    src: url('../JM-1.4/fonts/TTlakes/TTLakes-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../JM-1.4/fonts/TTlakes/TTLakes-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../JM-1.4/fonts/TTlakes/TTLakes-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}


.menu-services {
    overflow: scroll;
    max-width: 272px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

    padding: 22px 24px 32px;
}

.menu-services__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 45px;
}

.header__logo-link {
    display: block;
}

.button-options {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    flex-grow: 0;
    transition: 0.9s opacity ease;
    cursor: pointer;
}

.button-options:hover {
    opacity: 0.7;
}

.menu-services__logo {
    max-width: 91px;
}

.header__logo {
    flex-grow: .7;
}

.close-button {
    background-image: url('../icons/menu-services/close.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.search-button {
    background-image: url('../icons/menu-services/search.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.menu-services__navigation {
    height: 100%;
    flex-grow: 1;
}

.services-navigation {
    display: flex;
    flex-direction: column;
}

.services-navigation__item {
    transition: 0.8s opacity ease;
    font-weight: 500;
    margin-bottom: 32px;
}

.services-navigation__item:hover {
    opacity: 0.6;
}

.services-navigation__item--active::before {
    content: '';
    position: absolute;
    height: 32px;
    transform: translate(-24px, -4px);
    border-left: 4px solid #41F6D7;
}

.services-navigation__link {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.services-navigation__link--active {
    color: #7E7E82;
}

.menu-services__footer {
    max-height: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
}
.footer__buttons {
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.phone-button {
    background-image: url('../icons/menu-services/phone.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.chat-button {
    background-image: url('../icons/menu-services/chat.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.person-button {
    background-image: url('../icons/menu-services/person.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.footer__email {
    display: block;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 12px;
}
.footer__phone {
    display: block;
    font-size: 24px;
    letter-spacing: -0.6px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color:  #1B1C21;
    margin-bottom: 16px;
    height: 100%;
    flex-grow: 1;
}
.footer__lang-buttons {
    display: flex;
    margin-bottom: 32px;
}

.button-lang {
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.button-lang:hover {
    opacity: 0.8;
}

.button-lang--active {
    color: #7E7E82;
}
